body
{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #859BA1;
    font-family: 'calibri';
}
a
{
    color: #305548;
}
a:hover
{
    color:#5C8257;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
.centered
{
    width: fit-content;
    margin: auto 10px;
    text-align: center;
    border: 5px black solid;
    border-radius: 7px;
    padding: 20px;
    background-color: #EBF4F5;
}
.day
{
    padding-right: 7px;
}
#opening-hours-title
{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#opening-hours
{
    margin: 5px auto;
    text-align: start;
    width: fit-content;
}