body
{
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr min-content;
    height: 100vh;
    background-color: #859BA1;
    font-family:'Calibri', 'Trebuchet MS', sans-serif;
}
a
{
    color: #EBF4F5;
}
a:hover
{
    color:#5C8257;
}
footer
{
    background-color: #305548;
    color: #EBF4F5;
}
.day
{
    padding-right: 7px;
}
#header
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#banner
{
    background-image: url(mountain-9172053_1280.jpg);
    background-size: 100%;
    background-position: 50% 45%;
    height: 25vw;
    border-radius: 50% 50% 0 0;
}
#content-container
{
    background-color: #EBF4F5;
}
#filler
{
    background-color: #EBF4F5;
}
#opening-hours-title
{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#opening-hours
{
    margin: 5px auto;
    text-align: start;
    width: fit-content;
}