body
{
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    height: 100vh;
    background-color: #859BA1;
    font-family:'Calibri', 'Trebuchet MS', sans-serif;
}
h1
{
    font-size: 5vw;
}
a
{
    color: #EBF4F5;
}
a:hover
{
    color:#5C8257;
}
footer
{
    background-color: #305548;
    color: #EBF4F5;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.footer-content
{
    padding: 0 5px;
    max-width: 230px;
    min-width: min-content;
}
.footer-title
{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.day, .time
{
    padding-right: 4px;
}
#banner
{
    background-image: url(images/banner_mountain.jpg);
    background-size: 100%;
    background-position: 50% 55%;
    height: 40vw;
    text-align: center;
    color: white;
    text-shadow: #305548 1px 1px 2px;
}
#content-container
{
    background-color: #EBF4F5;
}
#filler
{
    background-color: #EBF4F5;
}
#opening-hours
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5px;
    margin: 0 auto;
}