<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fel</title>
  <link rel="stylesheet" href="/admin/panel_styles.css">
</head>
<body>
  <div class="errorContainer">
    <div class="errorMessage">
      <%= message %>
    </div>
    <a href="/admin/" class="errorBackLink">
      Klicka här för att gå tillbaka
    </a>
  </div>
</body>
</html>